<!-- <!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/support-blog1.css' %}">
    <title>Blog</title>
</head> -->

<body style="background-color: black;color: aqua;">

    <p>I found my mission in helping developers learn Backend Development: I release a new tutorial every day, explaining all I know about a specific topic. If you are into Python ,Django or into developing on the Web Application, don’t miss it! Here are
        my thoughts on blogging, why I think every developer should blog, and blog consistently.</p>
    <h2>A few things I want you to forget</h2><br>
    <h3>“I am not an expert”</h3><br>
    <p>Anyone has a unique angle, a perspective on something that’s worth sharing. You might think you don’t know as much as person X, but person Y might have much less experience than you and would benefit from reading your thoughts and learnings. Also,
        the best moment to teach something is right after you’ve learned it, because you remember how not knowing about it feels. In this case, you can blog with the tone of a student that’s just learned something. I learn new things every day. Around
        50% of what I end up writing I just learned while researching a topic.</p>
    <h3>“I’m not a good writer”</h3><br>
    <p>I’m not either, but I don’t care. Just remember: you will never become a good writer unless you practice writing every day for years. You will become a good writer, eventually.</p><br>
    <h3>You learn much faster</h3><br>
    <p>One of ways I learn best is by doing. I literally decide on a topic I think I know something about, and I drill down in a spiral loop through things I didn’t know, or I didn’t even think about.<br> They say you never fully understand a topic until
        you are able to explain it. Blogging is a low barrier to explaining things.</p><br><br><br><br>
    <hr>


    <h1>Thanks for giving us your valuable time...</h1>

</body>

</html>